table {
    border-collapse: collapse;
}

td {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}

.fire {
    background-color: red;
}

.ashes {
    background-color: gray;
}

.tree {
    background-color: lightgreen;
}